{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main_content_iner ">
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30">
                    <div class="white_card_body">
                        {% if messages %}
                            {% for message in messages %}
                            <div  {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show alert" {% endif %}> {{ message }} <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
                            {% endfor %}
                        {% endif %}
                        <div class="QA_section">
                            <div class="white_box_tittle list_header">
                                <h4>Class List</h4>
                                <div class="box_right d-flex lms_block">
                                    <div class="serach_field_2">
                                        <div class="search_inner">
                                            <form Active="#">
                                                <div class="search_field">
                                                    <input type="text" placeholder="Search content here...">
                                                </div>
                                                <button type="submit"> <i class="ti-search"></i> </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="add_button ms-2">
                                        <a href="{% url 'mediumIndex' %}" class="btn_1">Add medium</a>
                                    </div>
                                    <div class="add_button ms-2">
                                        <a href="{% url 'sectionIndex' %}" class="btn_1">Add Section</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card_box box_shadow position-relative mb_10">
                                <div class="">
                                    <form method="post">
                                        {% csrf_token %}
                                        {% for form in class_form %}
                                            <div class="row mb-3">
                                                <div class="col-md-12">
                                                    {{form}}
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <select class="form-control" name="medium_id">
                                                    <option value="">Select Medium</option>
                                                    {% for medium in mediums %}
                                                        <option value="{{ medium.adminbase_ptr_id }}">{{ medium.medium_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <select class="form-control select" name="section_id[]" multiple>
                                                    {% for section in sections %}
                                                        <option value="{{ section.adminbase_ptr_id }}">{{ section.section_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary" style="float:right">Add +</button>
                                        
                                    </form>
                                </div>
                            </div>
                            <div class="QA_table mb_30">

                                <table class="table lms_table_active ">
                                    <thead>
                                        <tr>
                                            <th scope="col">S. No.</th>
                                            <th scope="col">Class Name</th>
                                            <th scope="col">Medium</th>
                                            <th scope="col">Section</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for class in classes %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ class.class_name }}</td>
                                                <td>{{ class.medium_id.medium_name }}</td>
                                                <td>
                                                    {% for data in class_section %}
                                                        {% if class.adminbase_ptr_id == data.class_id_id %}
                                                            {% for section in sections %}
                                                                {% if section.adminbase_ptr_id  == data.section_id_id %}
                                                                    {{section.section_name}} {% if forloop.counter != 0 %} ,{% endif %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                                <td><i class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i data-class-id={{class.adminbase_ptr_id}} class="fa fa-trash" data-bs-toggle="modal" data-bs-target="#confirm" data-url="{% url 'classDelete' id=class.adminbase_ptr_id %}" data-type="class"></i>  </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <form id="del_form">
                {% csrf_token %}
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a class="btn btn-primary del-button">Proceed</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock  %}
