{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main_content_iner ">
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30">
                    <div class="white_card_body">
                        {% if messages %}
                            {% for message in messages %}
                            <div  {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show alert" {% endif %}> {{ message }} <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
                            {% endfor %}
                        {% endif %}
                        <div class="QA_section">
                            <div class="white_box_tittle list_header">
                                <h4>Medium List</h4>
                                <div class="box_right d-flex lms_block">
                                    <div class="serach_field_2">
                                        <div class="search_inner">
                                            <form Active="#">
                                                <div class="search_field">
                                                    <input type="text" placeholder="Search content here...">
                                                </div>
                                                <button type="submit"> <i class="ti-search"></i> </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="add_button ms-2">
                                        <a href="{% url 'sectionIndex' %}" class="btn_1">Add Section</a>
                                    </div>
                                    <div class="add_button ms-2">
                                        <a href="{% url 'classIndex' %}" class="btn_1">Add Class</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card_box box_shadow position-relative mb_10">
                                <div class="">
                                    <form method="post">
                                        {% csrf_token %}
                                        {% for form in medium_form %}
                                            <div class="row mb-3">
                                                {{form}}
                                            </div>
                                        {% endfor %}
                                        <button type="submit" class="btn btn-primary" style="float:right">Add +</button>
                                        
                                    </form>
                                </div>
                            </div>
                            <div class="QA_table mb_30">

                                <table class="table lms_table_active ">
                                    <thead>
                                        <tr>
                                            <th scope="col">S. No.</th>
                                            <th scope="col">Medium</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for medium in mediums %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ medium.medium_name }}</td>
                                                <td><i class="fas fa-edit editmedium" data-bs-toggle="modal" data-bs-target="#edit-medium" data-url="{% url 'mediumEdit' id=medium.adminbase_ptr_id %}" data-id={{ medium.adminbase_ptr_id }}></i>&nbsp;&nbsp;&nbsp;&nbsp;<i data-class-id={{medium.adminbase_ptr_id}} class="fa fa-trash" data-bs-toggle="modal" data-bs-target="#confirm" data-url="{% url 'mediumDelete' id=medium.adminbase_ptr_id %}" data-type="medium"></i>  </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <form id="del_form">
                {% csrf_token %}
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a class="btn btn-primary del-button">Proceed</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="edit-medium" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <form id="del_form" method="post" action="{% url 'mediumUpdate' %}">
                {% csrf_token %}
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <a href="{% url 'mediumIndex' %}" class="btn btn-secondary">Cancel</a>
                    <button type="submit" class="btn btn-primary del-button">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock  %}
