{% load static %}
<script src="{% static 'js/jquery1-3.4.1.min.js' %}"></script>
<script src="{% static 'js/popper1.min.js' %}"></script>
<script src="{% static 'js/bootstrap1.min.js' %}"></script>
<script src="{% static 'js/metisMenu.js' %}"></script>
<script src="{% static 'vendors/count_up/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'vendors/chartlist/Chart.min.js' %}"></script>
<script src="{% static 'vendors/count_up/jquery.counterup.min.js' %}"></script>
<script src="{% static 'vendors/niceselect/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'vendors/owl_carousel/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'vendors/datatable/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendors/datatable/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'vendors/datatable/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendors/datatable/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'vendors/datatable/js/jszip.min.js' %}"></script>
<script src="{% static 'vendors/datatable/js/pdfmake.min.js' %}"></script>
<script src="{% static 'vendors/datatable/js/vfs_fonts.js' %}"></script>
<script src="{% static 'vendors/datatable/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendors/datatable/js/buttons.print.min.js' %}"></script>
<script src="{% static 'vendors/datepicker/datepicker.js' %}"></script>
<script src="{% static 'vendors/datepicker/datepicker.en.js' %}"></script>
<script src="{% static 'vendors/datepicker/datepicker.custom.js' %}"></script>
<script src="{% static 'js/chart.min.js' %}"></script>
<script src="{% static 'vendors/chartjs/roundedBar.min.js' %}"></script>
<script src="{% static 'vendors/progressbar/jquery.barfiller.js' %}"></script>
<script src="{% static 'vendors/tagsinput/tagsinput.js' %}"></script>
<script src="{% static 'vendors/text_editor/summernote-bs4.js' %}"></script>
<script src="{% static 'vendors/am_chart/amcharts.js' %}"></script>
<script src="{% static 'vendors/scroll/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'vendors/scroll/scrollable-custom.js' %}"></script>
<script src="{% static 'vendors/vectormap-home/vectormap-2.0.2.min.js' %}"></script>
<script src="{% static 'vendors/vectormap-home/vectormap-world-mill-en.js' %}"></script>
<script src="{% static 'vendors/apex_chart/apex-chart2.js' %}"></script>
<script src="{% static 'vendors/apex_chart/apex_dashboard.js' %}"></script>
<script src="{% static 'vendors/echart/echarts.min.js' %}"></script>
<script src="{% static 'vendors/chart_am/core.js' %}"></script>
<script src="{% static 'vendors/chart_am/charts.js' %}"></script>
<script src="{% static 'vendors/chart_am/animated.js' %}"></script>
<script src="{% static 'vendors/chart_am/kelly.js' %}"></script>
<script src="{% static 'vendors/chart_am/chart-custom.js' %}"></script>
<script src="{% static 'js/dashboard_init.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script>
    $("#add-section").submit(function () {
        
        var serializedData = $(this).serialize();
        $.ajax({
            type: 'POST',
            url: "{% url 'classIndex' %}",
            data: {
                section_name:$('#id_section_name').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                action: 'post',
                form_type: 'section'
            },
            success: function (response) {
                $("#add-section").trigger('reset');
                location.reload();
            },
            error: function (response) {
                alert(response["responseJSON"]["error"]);
            }
        })
    });

    $(".fa-trash").click(function() {
        $('#confirm').find('.modal-body').html("Are you sure you want to delete "+$(this).attr("data-type")+"?");
        $('#confirm').find('.del-button').attr("href", $(this).attr("data-url"));
    })

    $(".editsection").click(function(){
        var id = $(this).attr("data-id");
        $.ajax({
            type: 'GET',
            url: $(this).attr("data-url"),
            success: function(response) {
                $("#edit-section").find('.modal-body').html(response.section_form);
                $("#edit-section").find('label').attr('style', 'display:none');
                $("#edit-section").find('.modal-body').append('<input type="hidden" name="id" value="'+ id +'">')
            },
            error: function(response) {
                $('#edit-section').find('.modal-bodyy').html('Oops somethinng went wrong');
            }
        })
    })

    $(".editmedium").click(function(){
        var id = $(this).attr("data-id");
        $.ajax({
            type: 'GET',
            url: $(this).attr("data-url"),
            success: function(response) {
                $("#edit-medium").find('.modal-body').html(response.medium_form);
                $("#edit-medium").find('label').attr('style', 'display:none');
                $("#edit-medium").find('.modal-body').append('<input type="hidden" name="id" value="'+ id +'">')
            },
            error: function(response) {
                $('#edit-medium').find('.modal-bodyy').html('Oops somethinng went wrong');
            }
        })
    })

    $("#add-student").submit(function () {
        var serializedData = $(this).serialize();
        $.ajax({
            type: 'POST',
            url: "{% url 'studentIndex' %}",
            data: {
                admission_no:$('#admission_no').val(),
                roll_no:$('#roll_no').val(),
                class_id:$('#class_id').val(),
                section_id:$('#section_id').val(),
                academic_year:$('#academic_year').val(),
                first_name:$('#first_name').val(),
                last_name:$('#last_name').val(),
                gender:$('#gender').val(),
                dob:$('#dob').val(),
                admission_data:$('#admission_data').val(),
                father_name:$('#father_name').val(),
                mother_name:$('#mother_name').val(),
                father_mobile:$('#father_mobile').val(),
                mother_mobile:$('#mother_mobile').val(),
                address:$('#address').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (response) {
                $("#add-student").trigger('reset');
                location.reload();
            },
            error: function (response) {
                alert(response["responseJSON"]["error"]);
            }
        })
    });
</script>