{% load static %}

<nav class="sidebar">
         <div class="logo d-flex justify-content-between">
            <a class="large_logo" href="index.html"><img src="{% static 'img/logo.png' %}" alt=""></a>
            <a class="small_logo" href="index.html"><img src="{% static 'img/mini_logo.png' %}" alt="" width="30px" height="30px"></a>
            <div class="sidebar_close_icon d-lg-none">
               <i class="ti-close"></i>
            </div>
         </div>
         <ul id="sidebar_menu">
            <li>
               <a href="{% url 'dashboard' %}" aria-expanded="false">
                  <div class="nav_icon_small">
                     <img src="{% static 'img/menu-icon/3.svg' %}" alt="">
                  </div>
                  <div class="nav_title">
                     <span>Dashboard</span>
                  </div>
               </a>
            </li>
            <li>
               <a href="{% url 'classIndex' %}" aria-expanded="false">
                  <div class="nav_icon_small">
                     <img src="{% static 'img/menu-icon/3.svg' %}" alt="">
                  </div>
                  <div class="nav_title">
                     <span>Classes </span>
                  </div>
               </a>
            </li>
            <li>
               <a href="{% url 'studentIndex' %}" aria-expanded="false">
                  <div class="nav_icon_small">
                     <img src="{% static 'img/menu-icon/3.svg' %}" alt="">
                  </div>
                  <div class="nav_title">
                     <span>Students </span>
                  </div>
               </a>
            </li>
            <li>
               <a href="{% url 'teacherIndex' %}" aria-expanded="false">
                  <div class="nav_icon_small">
                     <img src="{% static 'img/menu-icon/3.svg' %}" alt="">
                  </div>
                  <div class="nav_title">
                     <span>Teachers </span>
                  </div>
               </a>
            </li>
            <li>
               <a href="https://ais.tabschool.in/ais-user-login?email=Admin@tabschool.in" aria-expanded="false" target="_blank">
                  <div class="nav_icon_small">
                     <img src="{% static 'img/menu-icon/3.svg' %}" alt="">
                  </div>
                  <div class="nav_title">
                     <span>School ERP </span>
                  </div>
               </a>
            </li>
            <li>
               <a href="https://lms.tabschool.in/app/lms-user-login?email={{user.email}}" aria-expanded="false" target="_blank">
                  <div class="nav_icon_small">
                     <img src="{% static 'img/menu-icon/3.svg' %}" alt="">
                  </div>
                  <div class="nav_title">
                     <span>Classroom LMS </span>
                  </div>
               </a>
            </li>
            <li>
               <a href="" aria-expanded="false">
                  <div class="nav_icon_small">
                     <img src="{% static 'img/menu-icon/3.svg' %}" alt="">
                  </div>
                  <div class="nav_title">
                     <span>Bus Tracking </span>
                  </div>
               </a>
            </li>
            <li>
               <a href="" aria-expanded="false">
                  <div class="nav_icon_small">
                     <img src="{% static 'img/menu-icon/3.svg' %}" alt="">
                  </div>
                  <div class="nav_title">
                     <span>Live Class </span>
                  </div>
               </a>
            </li>
            <li>
               <a href="" aria-expanded="false">
                  <div class="nav_icon_small">
                     <img src="{% static 'img/menu-icon/3.svg' %}" alt="">
                  </div>
                  <div class="nav_title">
                     <span>Content </span>
                  </div>
               </a>
            </li>
            <li>
               <a href="" aria-expanded="false">
                  <div class="nav_icon_small">
                     <img src="{% static 'img/menu-icon/3.svg' %}" alt="">
                  </div>
                  <div class="nav_title">
                     <span>Website Manager </span>
                  </div>
               </a>
            </li>
            <li>
               <a href="" aria-expanded="false">
                  <div class="nav_icon_small">
                     <img src="{% static 'img/menu-icon/3.svg' %}" alt="">
                  </div>
                  <div class="nav_title">
                     <span>Settings </span>
                  </div>
               </a>
            </li>
            <li>
               <a href="" aria-expanded="false">
                  <div class="nav_icon_small">
                     <img src="{% static 'img/menu-icon/3.svg' %}" alt="">
                  </div>
                  <div class="nav_title">
                     <span>Payments </span>
                  </div>
               </a>
            </li>
            <li>
               <a href="" aria-expanded="false">
                  <div class="nav_icon_small">
                     <img src="{% static 'img/menu-icon/3.svg' %}" alt="">
                  </div>
                  <div class="nav_title">
                     <span>Help Centre </span>
                  </div>
               </a>
            </li>
         </ul>
      </nav>