{% load static %}

<nav class="sidebar">
         <div class="logo d-flex justify-content-between">
            <a class="large_logo" href="index.html"><img src="{% static 'img/logo.png' %}" alt=""></a>
            <a class="small_logo" href="index.html"><img src="{% static 'img/mini_logo.png' %}" alt="" width="30px" height="30px"></a>
            <div class="sidebar_close_icon d-lg-none">
               <i class="ti-close"></i>
            </div>
         </div>
         <ul id="sidebar_menu">
            <li>
               <a href="{% url 'dashboard' %}" aria-expanded="false">
                  <div class="nav_icon_small">
                     <i class="fi fi-sr-dashboard"></i>
                  </div>
                  <div class="nav_title">
                     <span>Dashboard</span>
                  </div>
               </a>
            </li>
            <li class="">
               <a class="has-arrow" href="#" aria-expanded="false">
               <div class="nav_icon_small">
                  <i class="fi fi-sr-presentation"></i>
               </div>
               <div class="nav_title">
                  <span>Academics</span>
               </div>
               </a>
               <ul>
                  <li><a href="{% url 'mediumIndex' %}">Medium</a></li>
                  <li><a href="{% url 'sectionIndex' %}">Section</a></li>
                  <li><a href="{% url 'classIndex' %}">Class</a></li>
               </ul>
            </li>
            <li class="">
               <a class="has-arrow" href="#" aria-expanded="false">
               <div class="nav_icon_small">
                  <i class="fi fi-sr-users"></i>
               </div>
               <div class="nav_title">
                  <span>Students</span>
               </div>
               </a>
               <ul>
                  <li><a href="{% url 'studentIndex' %}">Student Admission</a></li>
                  <li><a href="{% url 'categoryIndex' %}">Category</a></li>
               </ul>
            </li>
            <li class="">
               <a class="has-arrow" href="#" aria-expanded="false">
               <div class="nav_icon_small">
                  <i class="fi fi-sr-chalkboard-user"></i>
               </div>
               <div class="nav_title">
                  <span>Teacher</span>
               </div>
               </a>
               <ul>
                  <li><a href="{% url 'teacherIndex' %}">Teachers List</a></li>
                  <li><a href="{% url 'departmentIndex' %}">Departments</a></li>
                  <li><a href="{% url 'roleIndex' %}">Roles</a></li>
                  <li><a href="{% url 'designationIndex' %}">Designation</a></li>
               </ul>
            </li>
            <li>
               <a href="https://ais.tabschool.in/ais-user-login?email=Admin@tabschool.in" aria-expanded="false" target="_blank">
                  <div class="nav_icon_small">
                     <i class="fi fi-sr-graduation-cap"></i>
                  </div>
                  <div class="nav_title">
                     <span>School ERP </span>
                  </div>
               </a>
            </li>
            <li>
               <a href="https://lms.tabschool.in/app/lms-user-login?email={{user.email}}" aria-expanded="false" target="_blank">
                  <div class="nav_icon_small">
                     <i class="fi fi-sr-chalkboard-user"></i>
                  </div>
                  <div class="nav_title">
                     <span>Classroom LMS </span>
                  </div>
               </a>
            </li>
            <li>
               <a href="https://tracking.tabschool.in/tracking-user-login?email={{user.email}}" aria-expanded="false" target="_blank">
                  <div class="nav_icon_small">
                     <i class="fi fi-sr-bus"></i>
                  </div>
                  <div class="nav_title">
                     <span>Bus Tracking </span>
                  </div>
               </a>
            </li>
            <li>
               <a href="" aria-expanded="false">
                  <div class="nav_icon_small">
                     <i class="fi fi-sr-settings"></i>
                  </div>
                  <div class="nav_title">
                     <span>Settings </span>
                  </div>
               </a>
            </li>
            <li>
               <a href="" aria-expanded="false">
                  <div class="nav_icon_small">
                     <i class="fi fi-sr-credit-card"></i>
                  </div>
                  <div class="nav_title">
                     <span>Payments </span>
                  </div>
               </a>
            </li>
         </ul>
      </nav>