{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main_content_iner overly_inner ">
   <div class="container-fluid p-0 ">
      <div class="row">
         <div class="col-12">
            <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
               <div class="page_title_left">
                  <h3 class="f_s_25 f_w_700 dark_text">Dashboard</h3>
                  <ol class="breadcrumb page_bradcam mb-0">
                     <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                     <li class="breadcrumb-item active">Analytic</li>
                  </ol>
               </div>
               <div class="page_title_right">
                  <div class="page_date_button">
                     {% now "Y-m-d G:i:s" %}
                  </div>
                  <div class="dropdown common_bootstrap_button ">
                     <span class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                     action
                     </span>
                     <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item f_s_16 f_w_600" href="#"> Download</a>
                        <a class="dropdown-item f_s_16 f_w_600" href="#"> Print</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row ">
         <div class="col-xl-12 ">
            <div class="white_card card_height_100 mb_30">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-lg-3">
                        <div class="classes">
                           <div class="branch">
                              <h5>Classes</h5>
                              <p> {{ school_class_count }} Classes</p>
                           </div>
                           <i class="fa fa-laptop"></i>
                        </div>
                     </div>
                     <div class="col-lg-3">
                        <div class="deshboard-students">
                           <div class="branch">
                              <h5>Students</h5>
                              <p>  {{ student_count }} Student</p>
                           </div>
                           <i class="fa fa-users"></i>
                        </div>
                     </div>
                     <div class="col-lg-3">
                        <div class="deshboard-teacher">
                           <div class="branch">
                              <h5>Teachers</h5>
                              <p>  {{ teacher_count }} Teacher</p>
                           </div>
                           <i class="fa fa-graduation-cap"></i>
                        </div>
                     </div>
                     <div class="col-lg-3">
                        <div class="deshboard-report">
                           <div class="branch">
                              <h5>Reports</h5>
                              <p>0 Report</p>
                           </div>
                           <i class="fa fa-file-text-o"></i>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xl-12 ">
            <div class="white_card card_height_100 mb_30">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-lg-12">
                        <div class="deshboard-apps">
                           <h5>Apps</h5>
                        </div>
                     </div>
                     <div class="col-lg-2">
                        <div class="deshboard-erp">
                           <i class="fa fa-bus"></i>
                           <h4>School</h4>
                        </div>
                     </div>
                     <div class="col-lg-2">
                        <div class="deshboard-erp">
                           <i class="fa fa-bus"></i>
                           <h4>Classroom LMS</h4>
                        </div>
                     </div>
                     <div class="col-lg-2">
                        <div class="deshboard-erp">
                           <i class="fa fa-bus"></i>
                           <h4>Bus Tracking</h4>
                        </div>
                     </div>
                     <div class="col-lg-2">
                        <div class="deshboard-erp">
                           <i class="fa fa-bus"></i>
                           <h4>Live Class</h4>
                        </div>
                     </div>
                     <div class="col-lg-2">
                        <div class="deshboard-erp">
                           <i class="fa fa-bus"></i>
                           <h4>Content</h4>
                        </div>
                     </div>
                     <div class="col-lg-2">
                        <div class="deshboard-erp">
                           <i class="fa fa-bus"></i>
                           <h4>Website Management</h4>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xl-12 ">
            <div class="white_card card_height_100 mb_30">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-lg-9">
                        <div class="row">
                           <div class="col-lg-6">
                              <div class="new-classes">
                                 <h3>Classes</h3>
                                 <ul>
                                    <li>Class</li>
                                    <li class="new-class-li">Section</li>
                                 </ul>
                                 <div class="add-class" align="center">
                                    <p>Sorry no classes currently exist<br> Start adding classes</p>
                                    <button>Add Class</button>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-6">
                              <div class="new-student">
                                 <h3>Students</h3>
                                 <ul>
                                    <li>Enroll no.</li>
                                    <li class="new-student-li">Name</li>
                                    <li class="new-student-li">Program</li>
                                 </ul>
                                 <div class="add-student" align="center">
                                    <p>Sorry, there are no student in this organization <br> Start adding Students</p>
                                    <button>Add Student</button>
                                    <button>Bulk Import Student</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3">
                        <div class="new-teacher">
                           <h3>Teachers</h3>
                           <div class="add-teacher" align="center">
                              <p>Sorry, there are no student in this organization <br> Start adding Students</p>
                              <button>Add Student</button>
                              <button>Bulk Import Student</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock  %}
