{% extends 'myAdmin/auth_base.html' %}
{% load static %}
{% block content %}
<div class="sign-up-form forgot-form1">
    <h1 >Password</h1>
    <p>Please add your Password here</p>
    <form method="POST" class="m-login__form m-form" action="{% url 'add_password' %}" id="register-form">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{ user.id }}">
        <div class="row">
            <div class="col-lg-12">
                <input type="password" class="form-control" type="text" name="password" placeholder="Enter Password" value="" required>
            </div>
            <div class="col-lg-12">
                <input type="password" class="form-control" type="text" name="confirm
                _password" placeholder="Enter Password" value="" required>
            </div>
        <button type="submit" id="submit-form">Update Password</button>
    </form>
    <div class="login-sign-up">
        <p>Already have an Account? <a href="{% url 'login_user' %}">Log In</a></p>
    </div>
</div>
{% endblock  %}